{% extends 'web_server/base.html' %}
{% block head %}
    <script>
        function send_message() {
            var data = {};
            data["devices"] = $("#devices").val();
            data["message"] = $("#send").val();
            data["csrfmiddlewaretoken"] = "{{ csrf_token }}";
            $.ajax({
                type: "POST",
                url: "{% url 'web:send_msg' user.id %}",
                data: data,
                success: function (data) {
                    $("#receive").val(data.result);
                }
            });
        }
    </script>
{% endblock %}
{% block body-block %}
    {% if error %}
        <div class="alert alert-warning">You didn't bind any device yet.</div>
    {% endif %}
    {% if devices %}
        <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <form id="my_form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label>Devices:</label>
                    <select id="devices" name="devices" multiple class="form-control">
                        {% for device in devices %}
                            <option>{{ device.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea id="send" name="message" class="form-control" rows="3"
                              placeholder="Please input message for send"></textarea>
                </div>
                <button class="btn btn-lg btn-primary" type="button" onclick="send_message()">Send</button>
                <div class="form-group">
                    <label for="message">Returned Message</label>
                    <textarea id="receive" class="form-control" rows="3" placeholder=""></textarea>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}